// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



$greyText : #9B9B9B;
*, *::after, *::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.my-shadow {
    box-shadow: 2px 1px 3px #EEE, 2px 1px 2px #EEE;
}

.my-btn {
    background-color:#47CDFF;
    color:#FFF;
    padding: 8px 18px;
    border: 1px solid #47CDFF;
    border-radius: 5px;
    &:focus {
        outline:none;
        border:1px solid #47CDFA;
    }
}
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    span {
        color: $greyText;
        font-size: 16px;
    }
    .add-project {
        @extend .my-btn
    }
}

.navbar {
    background-color :#FFF;
    max-height: 60px;
    height:60px;
    padding: 0 40px;
    display:flex;
    align-items: center;
    .nav-brand {
        display:flex;
        align-items: center;
        img {
            height:36px;
            fill:#47D5FE;
        }
        span {
            font-size:25px;
            font-weight: 600;
            font-family: sans-serif;
            margin:0 10px;
            a  {
                color:#000;
            }
        }
    }
    .nav-right {
        align-self: center;
        display:flex;
        align-items: center;
        margin-left:40px;
        .profile-img {
            height:40px;
            width:40px;
            img {
                border-radius: 50%;
                width:100%;
                height:100%;
            }
            &:hover {
                cursor: pointer;
            }

        }
        .profile-name {
            font-size:15px;
            font-weight: 600;
            margin-left: 10px;
            font-family: 'Roboto';
            display:block;
            .dropdown-menu {
                width:180px;
                border-radius: 0;
                padding: 0;
                top:30px;
                outline:none;
                .dropdown-item {
                    padding:8px 10px;
                    &:hover {
                        background-color: #F2F2F2 !important;
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .nav-left {
        display:flex;
        justify-self: flex-start;
    }
    .nav-link {
        font-weight:600;
    }
}

.projects {
    font-family: sans-serif;
    .projects-container {
        display:grid;
        background-color: #F5F6F9;
        .projects-view {
            display:grid;
            .my-projects {
                display:grid;
                grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
                grid-template-rows: 200px;
                grid-auto-rows: 200px;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }
            .projects-page {
                padding: 20px 40px;
            }
            .create-project{
                padding: 20px 40px;
            }
            .edit-project {
                padding: 20px 40px;
            }
            .project-page {
                display:grid;
                grid-template-columns: 1fr 350px;
                grid-column-gap: 20px;
                .project-info {
                    padding: 20px 20px 0 40px;
                }
            }
        }
        .latest-updates {
            background-color:#F9F9FB;
        }
    }
}

.my-card {
    background-color: #FFF;
    padding: 15px 0;
    border-radius: 8px;
    box-shadow: 2px 1px 3px #EEE, 2px 1px 2px #EEE;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .my-card-title {
        font-size:22px;
        font-family: Roboto;
        padding:10px 30px;
        position:relative;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color:#111;
            &:hover {
                text-decoration: none;
                color:#454545;
            }
        }

        &::before {
            position:absolute;
            content: '';
            left: 0;
            top:0;
            bottom:0;
            background-color: #8AE2FE;
            width:5px;
        }
    }
    .my-card-desc {
        padding: 5px 30px;
        color: $greyText;
        font-family: Roboto;
        font-size: 16px;
    }

    .btn {
        padding: 4px 5px;
    }

}

.single-project {
    display:grid;
    grid-template-columns: 1fr 350px;
    grid-column-gap: 30px;
    textarea {
        font-size:16px;
        font-family: Roboto;
    }
}
.latest-updates {
    padding: 20px 40px;
    .nav {
        span {
            font-size:20px;
        }
    }
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


.home-page {
    padding: 40px 0;
    background-color:#FFF;
    min-height: calc(100vh - 60px);
    .container {
        display:flex;
        .desc {
            display:flex;
            flex-direction: column;
            padding: 10px 20px;
            h1 {
                font-weight: 600;
                font-family: sans-serif;
                color:#4D4E84;
                margin: 20px 0;
                padding: 10px 0;
                font-size:30px;
            }
            p {
                padding:10px 0;
                margin: 20px 0 30px;
                color:#000;
                font-size:16px;
            }
        }
        .controls {
            display:flex;
            a {
                text-decoration: none;
                padding:10px 20px;
                border-radius: 100px;
                display:flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .get-started {
                background-color: rgba(77,78,132, 0.7);;
                color:#FFF;
                margin-right: 20px;
                &:hover {
                    background-color: rgba(77,78,132, 1);
                }
            }
            .watch {
                background-color: rgba(220,220,220, 0.8);
                color:rgba(77,78,132, 1);
                margin-right: 20px;
                &:hover {
                    background-color: rgba(220,220,220, 1);
                }
            }
        }
    }
}

.page {
    padding:50px 0;
    background-color: #FFF;
    .container {
        .page-card {
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
            align-items: center;
            padding: 10px 20px;
            animation: showPage 0.5s ease-in-out;

            .page-image {
                width:100%;
                height:100%;
                img {
                    width:100%;
                    height:100%;
                }
            }
            @keyframes showPage {
                from {
                    transform: translate(-1000px);
                }
                to {
                    transform: translate(0);
                }
            }
            .page-body {
                width:400px;
                display:flex;
                align-items: center;
                flex-direction: column;
                margin: 0 auto;
                .page-header {
                    display:flex;
                    flex-direction: column;
                    padding:5px 20px;
                    width:100%;
                    margin-bottom: 5px;
                    font-family: Questrial;
                    h3 {
                        font-size:25px;
                        font-weight: 900;
                        color:#34374D;
                    }
                    span {
                        font-size:14px;
                        color: #72797f;
                    }
                }
                form {
                    display:flex;
                    flex-direction: column;
                    width:100%;
                    padding:5px 20px;
                    .form-group {
                        width:100%;
                        margin:5px 0;
                        display:grid;
                        grid-template-columns: 40px 1fr;
                        align-items: center;
                        border:1px solid #1D68A7;
                        border-radius: 3px;

                        &:focus-within i {
                            color:#1D68A7;
                            transition: all 0.3s ease-in-out;
                        }
                        i {
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            width:40px;
                            height:40px;
                            font-size:16px;
                            color: rgba(29,104,167,0.6);
                            transition: all 0.3s ease-in-out;
                        }
                        input {
                            height:50px;
                            flex-grow: 1;
                            border:none;
                            font-weight: 600;
                            font-size:16px;
                            color:#1D68A7 !important;
                            &:focus {
                                outline:none;
                                background-color:#FFF !important;
                            }
                        }

                    }
                    .form-buttons {
                        margin: 30px 0;
                        display:flex;
                        justify-content: space-between;
                        font-family: Questrial;
                        align-items: center;
                        button{
                            border:1px solid #1D68A7;
                            background-color: #1D68A7;
                            color:#FFF;
                            border-radius:100px;
                            padding:10px 60px;
                        }
                        a {
                            color: rgba(29,104,167,0.6);
                            font-weight: 600;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                color: rgba(29,104,167,1);
                                text-decoration: none;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                    .remember-me {
                        display:flex;
                        align-items: center;
                        margin:15px 0 5px;
                        input {
                            width:20px;
                            height:20px;
                        }
                        label {
                            margin: 0 20px;
                            color: rgba(29,104,167,0.6);
                            font-weight: 600;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                cursor: pointer;
                                color: rgba(29,104,167,1);
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

input:-internal-autofill-selected {
    background-color: none;
}
